.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav{
  /*
  position: fixed;
  
  top: 0;
  
  width: 100%;
  */
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(9, 112, 116);
  color: white;
  
}

.nav a{
  text-decoration: none;
  color: aqua;
}

.nav-profile-picture{
  height: 30px;
  border-radius: 50%;
}

.nav-logo{
  height: 30px;
}

.profile-picture{
  width: 100px;
  border-radius: 50%;
}

.profile-data{
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.label{
  display: grid;
  text-align: justify;
}

.input,
.data{
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 3px 0;
}

.input-search{
  border-radius: 20px;
}

.home-envelop{
  max-width: 90vw;
  margin: auto;
}

.button-envelop{
  margin-top: 2em;
}

.item-envelop{
  display: flex;
  flex-direction: row;
}

.item-img{
  height: 50px;
}

.App-link {
  color: #61dafb;
}

.ant-form{
  max-width: 300px;
  margin: auto !important;
}

.login-form-button {
  width: 100%;
}

.ant-input {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
